<section class="conteudo-menu">
    <p> <%= login %></p>
    <a href="/inicio"><button class="botao">Início</button></a>
    <a href="/perfil"><button class="botao">Perfil</button></a>
    <a href="/amigos"><button class="botao">Amigos</button></a>
    <a href="/listas"><button class="botao">Listas</button></a>
    <a href="/grupos"><button class="botao">Grupos</button></a>
    <a href="/logout"><button class="botao">Logout</button></a>
</section>