<%- include('partials/header'); -%>


<main class="conteudo">
  <section class="conteudo-menu">
    <a href="inicio.html"><button class="botao">Início</button></a>
    <a href="perfil.html"><button class="botao">Perfil</button></a>
    <a href="amigos.html"><button class="botao">Amigos</button></a>
    <a href="listas.html"><button class="botao">Listas</button></a>
    <a href="grupos.html"><button class="botao">Grupos</button></a>
  </section>

  <section class="conteudo-feed">
    <div class="conteudo-feed-atualizacao"></div>
  </section>
</main>


<%- include('partials/footer'); -%>