<%- include('partials/header'); -%>

<main class="conteudo">

  <%- include('partials/menu'); -%>

  <section class="conteudo-feed">
    <button class="botao">Nova Publicação</button>
    <div class="conteudo-feed-atualizacao"></div>
  </section>
</main>

<%- include('partials/footer'); -%>